<mat-toolbar class="navbar">
  <div><a routerLink="" class="zoom">Titlu</a></div>
  <div class="menu">
    <span><a routerLink="/cars">Mașini</a></span>
    <span><a routerLink="/rims">Jante</a></span>
    <span><a routerLink="/rims">Bodykit-uri</a></span>
    <a routerLink="/login"><mat-icon  aria-hidden="false" aria-label="Click here to see your profile">account_circle</mat-icon></a>
  </div>
</mat-toolbar>
<section class="presentation">
  <div class="p_div">
    <img src="./assets/cars.jpg" width="500px" height="350px">
    <div class="description">
      <h2>Titlu</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada, nisi sed porta porttitor, lacus ipsum blandit quam, non pulvinar elit dui sed nulla. 
        Quisque elementum diam porta turpis tincidunt, ut fermentum mauris posuere. 
        Sed mi nisl, vulputate in erat nec, luctus tincidunt quam. Vestibulum efficitur massa ligula, 
        a mattis felis malesuada sed.
      </p>
      <a routerLink="/cars">Vezi masinile</a>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
