<section>
    <div class="container">
        <h2>Adaugati un bodykit pentru vanzare:</h2>
        <div class="form-sections">
            <form [formGroup]="newbodykitForm" class="form">
                <mat-form-field apperance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" formControlName="username"/>
                </mat-form-field>
    
                <mat-form-field apperance="outline">
                    <mat-label>Brand</mat-label>
                    <input matInput placeholder="Brand" formControlName="brand"/>
                </mat-form-field>

                <mat-form-field apperance="outline">
                    <mat-label>Masina</mat-label>
                    <input matInput placeholder="Car" formControlName="car"/>
                </mat-form-field>

                <mat-form-field apperance="outline">
                    <mat-label>Tip</mat-label>
                    <input matInput placeholder="Type" formControlName="type"/>
                </mat-form-field>

                <mat-form-field apperance="outline">
                    <mat-label>Pret</mat-label>
                    <input matInput placeholder="Price" formControlName="price"/>
                </mat-form-field>
                
            </form>
        </div>
        <!-- <div class="message-section">
            <p>
                Message
            </p>
        </div> -->
        <button mat-raised-button (click)="newbodykit()">Adauga bodykit-ul</button>
    </div>
    </section>