<section>
    <div class="container">
        <h2>Adaugati un bodykit pentru vanzare:</h2>
        <div class="form-sections">
            <form [formGroup]="newbodykitForm" class="form">
                
    
                <mat-form-field apperance="outline">
                    <mat-label>Brand</mat-label>
                    <input matInput placeholder="Brand" formControlName="brand"/>
                </mat-form-field>

                <mat-form-field apperance="outline">
                    <mat-label>Brand masina</mat-label>
                    <input matInput placeholder="Car Brand" formControlName="carBrand"/>
                </mat-form-field>

                <mat-form-field apperance="outline">
                    <mat-label>Model masina</mat-label>
                    <input matInput placeholder="Car Model" formControlName="carModel"/>
                </mat-form-field>

                <mat-form-field apperance="outline">
                    <mat-label>Pret</mat-label>
                    <input matInput placeholder="Price" formControlName="price"/>
                </mat-form-field>

                <mat-form-field apperance="outline">
                    <mat-label>CarID</mat-label>
                    <input matInput placeholder="CarID" formControlName="carID"/>
                </mat-form-field>
                
            </form>
        </div>
        <!-- <div class="message-section">
            <p>
                Message
            </p>
        </div> -->
        <button mat-raised-button (click)="addBK()" appHoverBtn>Adauga bodykit-ul</button>
    </div>
    </section>