/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0;}
body {  font-family: Roboto, "Helvetica Neue", sans-serif; color: #FFFAFA; background-color: #1e1e21;
     position: relative; display: flex; flex-direction: column;
}
app-root{
    height: 100%;
    display: flex;
    flex-direction: column;
}
app-cars, app-rims, app-login, app-bodykits, app-home{
    flex: 1;
}
button{
    border: 1px solid black;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    color: #FFFAFA;
    background-color: #9b3ce9;
    cursor: pointer;
}
