<div class="container" *ngFor="let car of cars">

    <a class="masina" (click)="goToCar(car.carID)">
        <div class="stanga">
            <h2 class="titlu">{{car.brand + ' ' + car.model}}</h2>
            <p>An: {{car.year}}</p>
            <p>Km: {{car.mileage}}</p>
            <p>Tip caroserie: {{car.type}}</p>
        </div>
        <div class="centru">
            
            <img src="./assets/cars.jpg" />
            
        </div>
        <div class="dreapta">
            <h2>{{car.price + ' €'}} </h2>
            <p>Combustibil: {{car.fuel}}</p>
            <p *ngIf="car.cubic_Capacity > 0">Capacitate cilindrica: {{car.cubic_Capacity}} cm3</p>
            <p *ngIf="car.cubic_Capacity == 0">Capacitate baterie: {{car.battery_Capacity}} kW</p>
            <p>Transmisie: {{car.transmission}}</p>
        </div>
    </a>
    <mat-icon class="delete" (click) ="deleteCar(car)">delete</mat-icon>
</div>
<button mat-fab color="accent" aria-label="Adauga o masina" class="newcar mov" routerLink="/cars/newcar">
        <mat-icon class="icon">add</mat-icon>
</button>
