<section>
<div class="container">
    <h2>Intră în contul tău chiar aici:</h2>
    <div class="form-sections">
        <form [formGroup]="loginForm" class="form">
            <mat-form-field apperance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" formControlName="username"/>
            </mat-form-field>

            <mat-form-field apperance="outline">
                <mat-label>Parola</mat-label>
                <input matInput placeholder="Password" formControlName="password" type="password"/>
            </mat-form-field>
        </form>
    </div>
    <!-- <div class="message-section">
        <p>
            Message
        </p>
    </div> -->
    <button mat-raised-button (click)="login()">Login</button>
    <button mat-raised-button routerLink="/login/register">Daca nu ai cont apasa aici</button>
</div>
</section>