<div class="container" *ngFor="let bodykit of bodykits">

    <a class="bodykit" (click)="goToBodykit(bodykit.bodykitID)">
        <div class="stanga">
            <h2 class="titlu">{{bodykit.brand}}</h2>
            <p>Masina: {{bodykit.carBrand + ' ' + bodykit.carModel}}</p>
        </div>
        <div class="centru">
            
            <img src="./assets/cars.jpg" />
            
        </div>
        <div class="dreapta">
            <h2>{{bodykit.price + ' €'}} </h2>
        </div>
    </a>
    <mat-icon class="delete" (click) ="deleteBK(bodykit)">delete</mat-icon>
</div>
<button mat-fab color="accent" aria-label="Adauga un bodykit" class="newcar mov" routerLink="/bodykits/newbodykit">
        <mat-icon class="icon">add</mat-icon>
</button>
