<div class="container">
    <div class="masina">
        <div class="imagini">
            <img src='./assets/cars.jpg' class="imagine"/>
            <img src='./assets/cars.jpg' class="imagine"/>
            <img src='./assets/cars.jpg' class="imagine"/>
            <img src='./assets/cars.jpg' class="imagine"/>
            <img src='./assets/cars.jpg' class="imagine"/>
            <img src='./assets/cars.jpg' class="imagine"/>
        </div>
        <hr>
        <div class="info">
            
            <h2 class="titlu">{{'Kit ' + bodykit.brand}}</h2>
            <h2>{{bodykit.price + ' €'}}</h2>
        </div>
        
        <div class="detalii">
            <div class="specificatii">
            <ul>
                <li>{{'Brand masina' | marks}}{{bodykit.carBrand}}</li>
                <li>{{'Model masina' | marks}}{{bodykit.carModel}}</li>
                <li>{{'ID Masina' | marks}}{{bodykit.carID}}</li>
            
            </ul>
            </div>
            <div class="btn">
                <button mat-raised-button (click)="openModal(bodykit)">Editeaza bodykit-ul</button>
            </div>
        </div> 
    </div>
</div>
